h1{
    text-align: center;
    font-size: 50px;
    font-weight: 100px;
    text-decoration-line:underline ;
   
}
table{
    
    border-collapse: collapse;
    border: 2px solid black;
    padding: 3px;
}
td{
    padding: 15px;
}
